defaults:
  - _self_
  - problem: pseudo_autoencoder
  - llm_client: openai
  - override hydra/output: local

hydra:
  job:
    name: ${problem.problem_name}
    chdir: True

algorithm: direct_answer # options: greedy, direct_answer
model: gpt-4.1-mini # this is a hack way of solving this but this line should not be here, also, switching to gpt-4.1-mini because rate limiting
dataset: leet_code # options: human_eval, leet_code
use_timestamp: True # set to True if you want to load in timestamps from other runs and run the pipelines individually

# individual pipeline parameters:
pipeline: autoencoder # options: autoencoder, cosmetic, classifier
split: train

# for direct_answer and for individual cosmetic decoder prompt: 
# for loading in previous prompts
previous_autoencoder_label: 2025-09-18_21-00-18 
previous_cosmetic_label: 2025-09-18_21-00-18 
previous_classifier_label: 2025-09-26_15-07-49 #
prev_iter_encoder: 33
prev_iter_decoder: 34
prev_iter_cosmetic: 34
prev_iter_classifier: 33

# whether to generate new datasets or load in existing ones
load_previous_cosmetic_dataset: False # [TO DO]: implement/upload
load_previous_classifier_dataset: True

# parameters for the data
autoencoder_version: v0.3.5 # v0.3.2 is a small version of v0.3.5, which is the hard version of v0.3.0
cosmetic_version: v0.1.0 # update this as more datasets for the cosmetic pipeline are created
classifier_version: v0.1.0

# for autoencoder:
readability_metric: avg_syllables_per_word # options are: avg_syllables_per_word and avg_word_length
near_miss_threshold: 0.8

# for generation of classifier dataset
autoencoder_timestamp_train: 2025-11-25_17-17-50  # for cosmetic and classifier pipelines
autoencoder_timestamp_test: 2025-11-25_17-40-14 # for cosmetic and classifier pipelines, the latest human_eval cosmetic run: 2025-11-25_17-55-36
cosmetic_timestamp_train: 2025-11-18_16-14-40 # for classifier.
cosmetic_timestamp_test: 2025-11-18_16-50-35 # for classifier.

# Pre-processing for the pipeline [TO DO]: refactor/fully implement this
load_previous: False # is generally set to False
load_previous_timestamp: 2025-09-13_12-15-28
previous_last_iter: 1


# Main GA loop parameters
num_iterations: 2
starting_iteration: 1 # can be adjusted to continue a previous run
rounds: 1
evolving_encoder: True
evolving_decoder: False
evolving_cosmetic: False
evolving_classifier: False

# Plotting:
plotting_pipeline: True